@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar{
  display: none;
}

*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


html {
  scroll-behavior:smooth ;
}

body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  min-height: 90vh;
  display: grid;
  place-items: center;
}

img{
  width: 125px;
}
i {
  font-size: 25px;
}


.card {
  box-shadow: 0 0 30px rgba(0,0,0, 0.2);
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  transform-style: preserve-3d;
  position: relative;
  transition: all 0.8s ease;
  cursor: pointer;
}

.card-front-1,.card-front-2:active {
  transform: rotateY(0);
  transition: 0s;
}

.card-front-1, .card-back {
  width: 100%;
  height: 100%;
  flex-direction: column;
  backface-visibility: hidden;
}

.card-front-1 {
  display: flex;
}

.card-front-2{
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  transform-style: preserve-3d;
  transition: 1s;
}

.card-back h2{
  margin-top: 50px;
  color: #000000;
}


.card:hover{
  transform: rotateY(180deg);
}

.card-back:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

#subscribe-button{
  width: 100%;
  margin: 5px;
  border-radius: 15px;
  outline: 0;
  transition: all 0.8s ease;
  max-width: 100%;
  font-size: 700;
  padding: 15px;
  font-size: 14px;
  color: #Ffffff;
  font-family: inherit;
  background: #000;
  cursor: pointer;
}

#email-input{
  display: grid;
  place-items: center;
  width: 100%;
  margin: 5px;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  border: 0px;
  padding: 15px 0px 15px 0px;
  font-size: 14px;
  background: #ffffff;
  max-width: 100%;
  font-family: inherit;
  color: #000000;
  border: 0px;
}

#subscribebox{
  width: 100%;
  max-width: 100%;
  margin: auto;
  background: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 60px 20px;
}

.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#email-input:focus, #email-input:hover{
  outline: 0px;
}


#subscribe-button:hover{
  background: #000000;
}


.social-list {
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: 125px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
}

.social-link {
  color: #000000;
  font-size: 1.125rem;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.profile-image {
  border-radius: 50%;
  border: 5px solid #ffffff;
}



.profile-name {
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

.profile-name::after {
  content: "";
  height: 5px;
  display: block;
  width: 7.5rem;
  background-color: #ffffff;
  margin: 1rem auto 0.5rem;
  opacity: 0.7;
}

.profile-position {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  margin: 0;
}

.profile-body {
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }

  .profile-main {
    text-align: left;
    margin-left: 2rem;
  }

  .profile-name::after {
    margin-left: 0;
    width: 18.8rem;
  }

    
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #subscribebox{
    width: 80%;
    max-width: 400px;
    margin: auto;
    background: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 60px 20px;
  }
  
  form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  

  #email-input{
    width: 450px;
    max-width: 100%;
    font-family: inherit;
    color: #000000;
    text-align: left;
    font-weight: 500;
    border-radius: 2px;
    border: 0px;
    padding: 15px 0px 15px 20px;
    font-size: 14px;
    background: #F0F4EF;
  }
  
  #email-input:focus, #email-input:hover{
    outline: 0px;
  }

  #subscribe-button{
    border: 0px;
    width: 150px;
    max-width: 100%;
    font-size: 700;
    padding: 15px;
    font-size: 14px;
    color: #Ffffff;
    font-family: inherit;
    background: #000000;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    outline: 0;
    transition: all 0.2s;
  }
  
  #subscribe-button:hover{
    background: #000000;
  }
  


}
